.main-logo {
        height: 75px;
    width: 75px;
    background-color: yellow;
    border-radius: 50%;
    background-image: url(https://lipsum.app/random/1600x900);
    background-size: cover;
}

.main-header {
   display: flex;
   align-items: center;
   justify-content: space-between;
}